.main {
	background-color: #f3f5f7;
	margin: 0 auto;
}

.text-header {
	margin-bottom: 70px;
}

.text-header h1 {
	font-size: 45px;
	font-family: 'Arvo', serif;
	color: rgb(59, 63, 106);
	line-height: 1.833;
	text-align: center;
}

.text p {
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(104, 108, 139);
	line-height: 1.5;
	text-align: center;
}

p.text__bold {
	font-size: 20px;
	font-weight: bold;
}

.img {
	max-width: 184px;
	margin: 0 auto;
}